@import './reset.css';

.wrapper {
  max-width: 1400px;
  margin: 0 auto;
}

:root {
  --clr-primary: #3daee9;
  --clr-secondary: #eeebf5;
}

body {
  color: var(--font-clr-dark);
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
